* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  margin-bottom: 1rem;
}

#canvas {
  min-width: 1000px;
  min-height: 600px;
}

#tooltip {
  background-color: rgba(245, 245, 245, 0.8);
  font-size: 0.85rem;
  padding: 0.5rem 1rem;
  display: none;
  position: absolute;
  top: 0;
  left: 0;
}
